<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>pages.applescript</string>
			<key>Image File</key>
			<string>pages.png</string>
			<key>Long Running</key>
			<true/>
			<key>Title</key>
			<string>Pages</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.apple.Pages</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string></string>
			<key>Name</key>
			<string>Pages</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a new Pages document containing the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.sourabh.Pages</string>
	<key>Extension Name</key>
	<string>Pages</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
