<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>flipkart.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}$</string>
			<key>Title</key>
			<string>Flipkart</string>
			<key>URL</key>
			<string>http://flipkart.com/search?q={popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search for products on Flipkart.</string>
	<key>Extension Identifier</key>
	<string>com.sourabh.Flipkart</string>
	<key>Extension Name</key>
	<string>Flipkart</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
